<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <article>
      <p>Name: <%= @contact_name %></p><br>
      <p>Email: <%= @contact_email %></p><br>
      <p>Phone: <%= @contact_phone%></p>
      <p>Subject: <%= @contact_subject %></p><br>
      <p><%= @contact_content %></p>
    </article>
  </body>
</html>
